li {
    list-style: none;
}

.list-div{
    text-align: center;
    justify-content: center;                                    
    border: 2px solid #edf0f1;
    width: 90%;
    margin: 10px auto;
    border-radius: 25px;
    transition: all 0.3s ease 0s;
}

.list-div:hover{
    color: #0088a9;
    border-color: #0088a9;
}

.list-ul{
    padding: 0px;
    margin: 10%;
    align-content: center;
}

button{
    color: #edf0f1;
    background: none;
    border-radius: 25px;
    border-color: #edf0f1;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.list-add-button{
    padding: 5px;
}

.list-add-button:hover{
    background-color: #0088a9;
}